body,
html {
  height: 100%;
  margin: 0;
}

.grid-container {
  grid-template-columns: auto;
  padding: 10px;
}

.grid-item {
  align-content: center;
  text-align: center;
}
.row {
  padding: 0px;
}
select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type='file'] {
  width: 100%;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
